<div class="ui grid" *ngIf="comment"> <div class="four wide column">
</div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ comment.comment }}</h1> <h3 class="ui header">{{ comment.id}}</h3> <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Autoren</h4>
        </div>
      <div class="four wide column"> <h4 class="ui header">ISBN</h4> {{ comment.id }}
      </div>
      <div class="four wide column">
        <h4 class="ui header">Erschienen</h4>
        {{ comment.user }} </div>
      <div class="four wide column">
        <h4 class="ui header">Rating</h4>
        </div>
    </div> </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3> {{ comment.offer }}
  </div>
  <div class="sixteen wide column">
    <div class="ui small images">
    </div> </div>
</div>
