<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="wrapper">
  <button type="button" class="fill" [routerLink]="'/courses'"> <- Zurück zur Kursliste</button>
  <div class="post_wide">

    <div class="container_copy">
      <h1>Anbebot: "{{offer?.title}}"</h1>
      <h3>Erstellt am: {{offer?.date}}</h3>

      <p>Genauere Infos zum Angebot:von: {{offer?.start}} bis: {{offer?.end}} </p>
      <h3> Beschreibung des Angebots:</h3>
      <p>{{ offer?.description}}</p>
      <p> Status: {{ offer?.status}}</p>
      <p>{{user?.name}} is für dich verfügar von: {{ offer?.start}} bis {{ offer?.end}}</p>
    </div>
    <br/>
    <p> <i class="material-icons">person</i> Angeboten von: {{user?.name}}</p>
    <p> <i class="material-icons">alternate_email</i> Kontakt: {{user?.email}}</p>
    <button type="button" class="fill"  *ngIf="isTeacherAndOwner()" (click)="deleteOffer()" [routerLink]="'/courses'">
      Löschen
    </button>

    <button type="button" class="fill"  *ngIf="isTeacherAndOwner()" [routerLink]="['../../admin', offer?.id]" >
      Angebot bearbeiten
    </button>
 
    <button type="button" class="fill"  *ngIf="isTeacherAndOwner()" [routerLink]="['../../admin']" >
      Neues Angebot hinzufügen
    </button>
    <br/>
    <button type="button" class="fill"  *ngIf="!isTeacherAndOwner()&&this.authService.isLoggedIn()" (click)="createRequest()">
      Anfrage an {{offer?.user?.name}} senden
    </button>
  </div>

</div>
<!-- partial -->






