<div *ngIf="!isLoggedIn()" class="column">
  <h1>Login</h1>
  <form class="ui large form" [formGroup]="loginForm"
        (ngSubmit)="login()">
    <div class="ui stacked segment">
      <div class="field">
        <label> <i class="user icon"></i>E-Mail</label>
        <div>
          <input type="email" id="username" formControlName="username" >
        </div>
        <div *ngIf="loginForm.get('username')?.invalid &&
(loginForm.get('username')?.dirty || loginForm.get('username')?.touched) &&
loginForm.get('username')?.hasError('required')" class="ui negative message">
          Benutzername ist verpflichtend
        </div>
        <div *ngIf="loginForm.get('username')?.invalid &&
(loginForm.get('username')?.dirty || loginForm.get('username')?.touched) &&
loginForm.get('username')?.hasError('email')" class="ui negative message">
          E-Mail Format überprüfen
        </div>
      </div>
      <div class="field"><label><i class=" lock icon"></i>Passwort</label>
        <input type="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty ||
loginForm.get('password')?.touched)" class="ui negative message"> Passwort ist verpflichtend
        </div>
      </div>
      <button class="fill" type="submit"  [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
<div *ngIf="isLoggedIn()">
  <div *ngIf="isLoggedIn()">

    <bs-user-detail></bs-user-detail>
    <button type="button" class="fill"  (click)="logout()">Logout</button>
    <bs-request-list></bs-request-list>

    <br>

  </div>
</div>
