<div class="ui middle aligned selection divided list">
  <div *ngFor="let course of courses" [routerLink]="'/courses/'+ course.id" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="card">
      <div class="card-header">{{course?.id}}</div>
      <div class="card-main">
        <i class="material-icons">school</i>
        <h1>{{course?.description}}</h1>
        <div class="main-description"> Für mehr Infos zum Kurs und Angebote hier klicken</div>
      </div>
    </div>
  </div>
</div>




<button [routerLink]="'/home'" class="ui red button">Zurück zu Home</button>


