<div class="ui segment">
  <h2 class="ui right floated header">{{user?.name}}, deine Übersicht </h2>
  <div class="ui clearing divider"></div>
  <p></p>
</div>

<div class="ui card">
  <div class="content">
    <a class="header">{{user?.name}}</a>
    <div class="meta">
      <span class="date">{{user?.email}}</span>
    </div>
    <div class="description">
        hier noch die description des users.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      <p *ngIf="isStudent()"> Nachhilfesuchende Person </p>
      <p *ngIf="isStudent()==false">Nachhilfegebende Person </p>
    </a>
  </div>
</div>

<button *ngIf="!isStudent()" [routerLink]="['/admin']" >
  <i class="ui red button">neues Angebot erstellen</i>
</button>

