<!-- partial:index.partial.html -->
<div class="flex">
    <div class="wrapper">
      <div class="blog_post">
        <div class="img_pod">

        </div>
        <div class="container_copy">
          <h3>Kursnummer: {{course?.id}}</h3>
          <h1>Kurstitel: {{course?.title}}</h1>
          <h2>Kursbeschreibung: </h2>
          <p>{{course?.description}}</p>
        </div>

      </div>

      <br/>
      <button type="button" class="fill" [routerLink]="'/courses'"> <- Zurück zur Kursliste</button>
    </div>
  </div>
  <!-- partial -->
<br/>


<bs-offer-list [course] = "course"></bs-offer-list>
