<!-- partial:index.partial.html -->
<div class="flex">
<div  *ngFor="let course of courses" [routerLink]="'/courses/'+ course.id" >
<div class="wrapper">
  <div class="blog_post">
    <div class="img_pod">

    </div>
    <div class="container_copy">
      <h3>Kursnummer: {{course?.id}}</h3>

      <h1>{{course?.title}}</h1>
      <p>{{course?.description}}</p>
    </div>

    <button ype="button" class="fill">Infos zum Kurs & Angebote </button>
  </div>

</div>

</div>
<!-- partial -->
</div>


<button type="button" class="fill"  [routerLink]="'/home'" >Zurück zu Home</button>




